/*@screen-md:         (@container-desktop + (2*@grid-gutter-width));
@screen-lg:         (@container-lg-desktop + (2*@grid-gutter-width));*/
@font-face {
  font-family: 'jk-Koodak';
  src: url('../fonts/font-koodak/fonts/BKoodakBold.eot');
  
  /* here you go, IE */
}
@font-face {
  font-family: 'jk-Koodak';
  src: url('../fonts/font-koodak/fonts/BKoodakBold.ttf') format('truetype');
  
  /* everyone else take this */
}
.page-title {
  display: none;
}
.page-header {
  display: none;
}
.panel-description:before,
.panel-description:after {
  content: " ";
  display: table;
}
.panel-description:after {
  clear: both;
}
.panel-description .category-image {
  float: right;
  margin-left: 20px;
}
.panel-description .category-image img {
  max-width: 150px;
}
.panel-description .category-description {
  text-align: justify;
}
.subcategories-panel .panel-body {
  padding: 0;
  padding-right: 20px;
  padding-bottom: 20px;
}
.subcategories-panel .panel-heading {
  padding-top: 5px;
  padding-bottom: 0px;
}
.subcategories-panel .panel-heading .panel-title {
  font-family: "jk-Koodak", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.subcategories-panel .box {
  width: 33.33%;
  height: 221px;
  float: right;
  padding: 20px;
  padding-right: 0;
  padding-bottom: 0;
  position: relative;
}
@media (min-width: 1270px) {
  .subcategories-panel .box {
    width: 25%;
  }
}
@media (min-width: 1560px) {
  .subcategories-panel .box {
    width: 20%;
  }
}
.subcategories-panel .box .caption-box {
  height: auto;
  width: 100%;
  padding-left: 20px;
  position: absolute;
  bottom: 0;
  z-index: 667;
}
.subcategories-panel .box .caption-box .caption-header {
  background-color: #fff;
  height: 30px;
  width: inherit;
  cursor: pointer;
}
.subcategories-panel .box .caption-box .caption-header .header-style {
  text-align: center;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.1;
  color: #1a75d0;
  padding: 8px 0 0 0;
  margin: 0;
  text-indent: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.subcategories-panel .box .caption-box .caption-header .header-style a {
  display: block;
  width: 100%;
  margin-top: -8px;
  padding-top: 8px;
}
.subcategories-panel .box .caption-box .caption-header .e-toggle {
  width: 15px;
  height: 15px;
  float: left;
  color: #999;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
}
.subcategories-panel .box .caption-box .caption-header .e-toggle i.fa-minus {
  display: none;
}
.subcategories-panel .box .caption-box .caption-header .e-toggle i.fa-plus {
  display: inline-block;
}
.subcategories-panel .box .caption-box .caption-header.open {
  background-color: #f5f7fa;
}
.subcategories-panel .box .caption-box .caption-header.open .header-style {
  color: #999;
}
.subcategories-panel .box .caption-box .caption-header.open .e-toggle i.fa-minus {
  display: inline-block;
}
.subcategories-panel .box .caption-box .caption-header.open .e-toggle i.fa-plus {
  display: none;
}
.subcategories-panel .box .caption-box .caption-list {
  background-color: #f5f7fa;
  height: 171px;
  width: 100%;
  display: none;
}
.subcategories-panel .box .caption-box .caption-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}
.subcategories-panel .box .caption-box .caption-list ul li {
  text-align: center;
  padding: 8px 10px 0 10px;
  margin: 0;
}
.subcategories-panel .box .caption-box .caption-list ul li a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.subcategories-panel .box .caption-box .caption-list ul li.shop-all {
  font-weight: normal;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  position: absolute;
  bottom: 8px;
  display: none;
}
.subcategories-panel .box .caption-box .caption-list ul li.shop-all i.fa {
  font-size: 10px;
}
.subcategories-panel .box .caption-box .caption-list ul li:first-child {
  padding-top: 5px;
}
.subcategories-panel .box .content-image .img-container {
  width: inherit;
  height: 171px;
  text-align: center;
  border-bottom: 1px solid #eef2f7;
}
.subcategories-panel .box .content-image .img-container a {
  width: 100%;
  display: block;
}
.subcategories-panel .box .content-image .img-container img {
  max-width: 100%;
  height: 161px;
}
.cat-slider {
  height: 280px;
}
.shop-by-block .links-list {
  min-height: 232px;
}
