/*@screen-md:         (@container-desktop + (2*@grid-gutter-width));
@screen-lg:         (@container-lg-desktop + (2*@grid-gutter-width));*/
.hp-slider-wrapper {
  width: 660px;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
}
.hp-slider-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.hp-slider-menu {
  width: 660px;
  height: 30px;
}
ul.hp-slider-menu > li {
  float: right;
  width: 130px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  font-family: tahoma;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
ul.hp-slider-menu > li:hover {
  color: #222;
}
ul.hp-slider-menu > li.active {
  color: #f63;
  cursor: default;
}
.hp-slider-images-wrapper {
  position: relative;
  width: 660px;
  height: 200px;
  overflow: hidden;
  clear: both;
}
ul.hp-slider-images-container {
  width: 1000%;
  height: 200px;
  position: absolute;
  right: 0;
}
ul.hp-slider-images-container > li {
  float: right;
}
.hp-slider-menu-arrow {
  position: absolute;
  width: 294px;
  height: 10px;
  filter: inherit;
  z-index: 1;
  display: block;
  top: 29px;
  right: -80px;
}
.hp-slider-nav-arrow {
  position: absolute;
  top: 50%;
  font-size: 40px;
  margin-top: -17px;
  z-index: 1;
  color: #bbb;
  cursor: pointer;
}
.hp-slider-nav-arrow:hover {
  color: #999;
}
.hp-slider-nav-arrow[data-nav-dir=next] {
  left: 5px;
}
.hp-slider-nav-arrow[data-nav-dir=prev] {
  right: 5px;
}
.hp-slider-menu-arrow {
  width: 294px;
  height: 10px;
  background: url(../images/hp-slider-arrow.png) no-repeat;
}
.hp-container {
  position: relative;
}
@media (min-width: 1270px) {
  .hp-container .content-wrapper {
    padding-left: 320px;
  }
}
.hp-container .carousels-wrapper {
  margin-right: 250px;
  overflow: hidden;
}
.hp-container .home-page-nav {
  position: relative;
  z-index: 5000;
  /*height: 512px;*/
}
.hp-container .hp-slider {
  width: 660px;
  margin-right: auto;
  margin-left: auto;
  height: 230px;
}
.hp-container .hp-left-side {
  width: 300px;
  position: absolute;
  left: 20px;
  top: 0;
  display: none;
}
@media (min-width: 1270px) {
  .hp-container .hp-left-side {
    display: block;
  }
}
.hp-container .hp-left-side .jk-ads-block {
  margin-bottom: 20px;
}
.hp-container .hp-adv-boxes .adv-box {
  margin-right: 20px;
  width: 230px;
  height: 180px;
}
.hp-container .hp-adv-boxes .adv-box.first {
  margin-right: 0;
}
.hp-container #hp-contents {
  width: 720px;
}
.hp-container #hp-ads-lg {
  width: 200px;
  margin-right: 20px;
}
