/*@screen-md:         (@container-desktop + (2*@grid-gutter-width));
@screen-lg:         (@container-lg-desktop + (2*@grid-gutter-width));*/
.hp-container {
  position: relative;
}
.hp-container .carousels-wrapper {
  margin-right: 250px;
  overflow: hidden;
}
.hp-container .home-page-nav {
  position: relative;
  z-index: 2;
}
.hp-container .hp-slider {
  width: 660px;
  margin-right: auto;
  margin-left: auto;
  height: 230px;
}
.hp-container .hp-left-side {
  width: 300px;
  margin-right: 20px;
  float: left;
  display: none;
}
@media (min-width: 1270px) {
  .hp-container .hp-left-side {
    display: block;
  }
}
.hp-container .hp-left-side .jk-ads-block {
  margin-bottom: 20px;
}
.hp-container .hp-adv-boxes .adv-box {
  margin-right: 20px;
  width: 230px;
  height: 180px;
}
.hp-container .hp-adv-boxes .adv-box.first {
  margin-right: 0;
}
.hp-container #hp-contents {
  width: 720px;
}
.hp-container #hp-ads-lg {
  width: 200px;
  margin-right: 20px;
}
.shortcut-blocks {
  width: 660px;
  margin: auto;
}
.shortcut-blocks:before,
.shortcut-blocks:after {
  content: " ";
  display: table;
}
.shortcut-blocks:after {
  clear: both;
}
.shortcut-blocks .shortcut-block {
  margin-left: 15px;
  float: right;
  width: 210px;
  height: 165px;
}
.shortcut-blocks .shortcut-block .inner {
  height: 100%;
  border: 1px solid #dddddd;
  background: url(../images/loading-large.gif) no-repeat 50%;
  background-size: 25px;
}
.shortcut-blocks .shortcut-block.last {
  margin-left: 0;
}
