/*@screen-md:         (@container-desktop + (2*@grid-gutter-width));
@screen-lg:         (@container-lg-desktop + (2*@grid-gutter-width));*/
@font-face {
  font-family: 'jk-Koodak';
  src: url('../fonts/font-koodak/fonts/Koodak.eot?#') format('eot'), url('../fonts/font-koodak/fonts/Koodak.woff') format('woff'), url('../fonts/font-koodak/fonts/Koodak.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.product-page-container {
  position: relative;
}
.product-page-container:before,
.product-page-container:after {
  content: " ";
  display: table;
}
.product-page-container:after {
  clear: both;
}
.product-page-container .product-sidebar {
  width: 300px;
  float: right;
}
.product-page-container .product-sidebar article {
  margin-bottom: 0;
}
.product-page-container .product-sidebar .product-page-nav .nav {
  font-family: "jk-Koodak", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: -5px;
}
.product-page-container .product-sidebar .product-page-nav .nav li {
  padding: 0;
  margin-bottom: 5px;
}
.product-page-container .product-sidebar .product-page-nav .nav li a {
  border-radius: 5px;
  padding: 6px 20px 4px;
  color: #333;
}
.product-page-container .product-sidebar .product-page-nav .nav li a:hover {
  text-decoration: none;
  color: #333;
  background-image: url(../images/product-page-arrow-retina.png);
  background-repeat: no-repeat;
  background-position: 0 -36px;
  background-size: 300px 72px;
}
.product-page-container .product-sidebar .product-page-nav .nav li.active a {
  color: white;
  background-image: url(../images/product-page-arrow-retina.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 300px 72px;
}
.product-page-container .product-sidebar .product-page-nav .nav li.last {
  margin-bottom: 0;
}
.product-page-container .product-sidebar #prodcut-aside-fix {
  background-color: white;
  z-index: 1;
  position: relative;
}
.product-page-container .product-sidebar #prodcut-aside-fix.sticky {
  position: fixed;
}
.product-page-container .product-sidebar #prodcut-aside-fix:after {
  padding: 0;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  left: -19px;
  top: 0;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(204, 204, 204, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, rgba(204, 204, 204, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(204, 204, 204, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, #ffffff 0%, rgba(204, 204, 204, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, rgba(204, 204, 204, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #ffffff 0%, rgba(204, 204, 204, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}
.product-page-container .product-sidebar .product-image-gallery .img-large {
  width: 300px;
  height: 240px;
  text-align: center;
}
.product-page-container .product-sidebar .product-image-gallery .img-large img {
  max-width: 300px;
  max-height: 240px;
}
.product-page-container .product-sidebar .product-image-gallery .product-gallery-carousel {
  margin-top: 10px;
}
.product-page-container .product-sidebar .product-image-gallery .product-gallery-carousel .nav {
  font-size: 22px;
  width: 10px;
  height: 26px;
  margin-top: -13px;
}
.product-page-container .product-sidebar .product-image-gallery .product-gallery-carousel .items-container {
  width: 280px !important;
  height: 70px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.product-page-container .product-sidebar .product-image-gallery .product-gallery-carousel .items-container .items .item {
  width: 70px;
  height: 70px;
}
.product-page-container .product-sidebar .product-image-gallery .product-gallery-carousel .items-container .items .item .item-inner {
  padding: 5px;
}
.product-page-container .product-sidebar .product-image-gallery .product-gallery-carousel .items-container .items .item .item-inner img {
  max-width: 60px;
  max-height: 60px;
}
.product-page-container .product-sidebar .product-image-gallery .product-gallery-carousel .item {
  width: 70px;
  height: 70px;
}
.product-page-container .product-details {
  position: relative;
  margin-right: 350px;
  overflow: hidden;
}
.product-page-container .product-details .header {
  position: relative;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
}
.product-page-container .product-details .header .product-title {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 18px;
  margin-top: 0;
  padding-left: 120px;
}
.product-page-container .product-details .header .ratings:before,
.product-page-container .product-details .header .ratings:after {
  content: " ";
  display: table;
}
.product-page-container .product-details .header .ratings:after {
  clear: both;
}
.product-page-container .product-details .header .ratings .rating-box,
.product-page-container .product-details .header .ratings .rating-links {
  float: right;
}
.product-page-container .product-details .header .ratings .rating-box {
  margin-top: 4px;
  margin-left: 5px;
}
.product-page-container .product-details .header .ratings .rating-links {
  font-size: 11px;
  margin: 0;
}
.product-page-container .product-details .header .no-rating {
  margin: 0;
}
.product-page-container .product-details .header .product-logo {
  position: absolute;
  left: 0;
  top: 10px;
  max-height: 40px;
}
.product-page-container .product-details .btn-compare {
  font-size: 10px;
  padding: 0;
  cursor: pointer;
  background: white;
}
.product-page-container .product-details .btn-compare i.icon-checkbox {
  margin: 1px 4px 0px 5px;
  font-size: 1.15em;
  vertical-align: middle;
  width: 9px;
  text-align: left;
}
.product-page-container .product-details .btn-compare.in-compare {
  visibility: visible !important;
}
.product-page-container .product-details .btn-compare input {
  width: 20px;
  cursor: pointer;
}
.product-page-container .product-details .btn-compare label {
  font-weight: normal;
  margin: 0;
  padding: 2px 0px 2px 8px;
  margin-right: -2px;
  cursor: pointer;
}
.product-page-container .product-details .product-data-box {
  min-height: 400px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.product-page-container .product-details .product-data-box.first {
  padding-top: 0;
}
.product-page-container .product-details .product-data-box.last {
  min-height: initial;
  padding-bottom: 0;
}
.product-page-container .product-details .product-data-box .title {
  font-family: "jk-Koodak", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-top: 0;
}
.product-page-container .product-details .product-data-box > .inner {
  position: relative;
}
.product-page-container .product-details .product-data-box#product-related {
  min-height: 350px;
}
.product-page-container .product-details .carousel .items-container {
  /*width: @product-details-width - 2*@car-nav-width + 2;
        @media (min-width: @screen-lg) {
          width: @product-details-lg-width - 2*@car-nav-width;
        }*/
}
.product-page-container .product-details .carousel .items-container .items .item {
  width: 152.5px;
}
@media (min-width: 1270px) {
  .product-page-container .product-details .carousel .items-container .items .item {
    width: 172px;
  }
}
.product-page-container .product-details .box-related {
  margin-top: 40px;
}
.product-page-container .product-details .box-related .note {
  background-color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 11px;
}
.product-page-container .product-details .box-related .note a {
  color: #ff6633;
}
.product-page-container .product-details .box-related ul.box-content {
  margin: 0;
  padding: 10px 20px 0 20px;
}
.product-page-container .product-details .box-related ul.box-content:before,
.product-page-container .product-details .box-related ul.box-content:after {
  content: " ";
  display: table;
}
.product-page-container .product-details .box-related ul.box-content:after {
  clear: both;
}
.product-page-container .product-details .box-related ul.box-content li.item {
  list-style: none;
  width: 31.5%;
  float: right;
  margin-left: 1%;
}
.product-page-container .product-details .box-related ul.box-content li.item input.checkbox {
  position: absolute;
  margin: 3px 105px 0 0;
}
.product-page-container .product-details .box-related ul.box-content li.item .item-info {
  margin-left: 20px;
}
.product-page-container .product-details .box-related ul.box-content li.item .product-image {
  float: right;
  margin-left: -100px;
  width: 100px;
}
.product-page-container .product-details .box-related ul.box-content li.item .product-details {
  margin-right: 125px;
}
.product-page-container .product-details .box-related ul.box-content li.item .product-details .product-name {
  margin-top: 5px;
  font-size: 14px;
}
.product-page-container .product-details .box-related ul.box-content li.item .product-details .product-name a {
  color: #333;
}
.product-page-container .product-details .box-related ul.box-content li.item .product-details .price-box {
  margin-top: 8px;
}
.product-page-container .product-details .box-related ul.box-content li.item .product-details .link-wishlist {
  font-size: 11px;
  color: #999;
}
.product-page-container .product-details #product-review h2 {
  margin-top: 0;
}
.product-page-container .product-details #product-review .product-review-summary-table {
  margin: 20px 0 40px 0;
}
.product-page-container .product-details #product-review .product-review-summary-table .rating-label {
  width: 15%;
}
.product-page-container .product-details #product-review .product-review-summary-table > thead > tr > th,
.product-page-container .product-details #product-review .product-review-summary-table > tbody > tr > th,
.product-page-container .product-details #product-review .product-review-summary-table > thead > tr > td,
.product-page-container .product-details #product-review .product-review-summary-table > tbody > tr > td {
  padding: 3px;
}
.product-page-container .product-details #product-review .product-review-summary-table .rating-box {
  margin-top: 3px;
}
.product-page-container .product-details #product-review #customer-reviews #product-reviews-list {
  margin-bottom: 0;
}
.product-page-container .product-details #product-review #customer-reviews #product-reviews-list dd {
  border-bottom: 1px dashed #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.product-page-container .product-details #product-review #customer-reviews #product-reviews-list dd.last {
  border-bottom: none;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.product-page-container .product-details #product-review #customer-reviews .review-summary-table {
  margin: 10px 0;
}
.product-page-container .product-details #product-review #customer-reviews .review-summary-table > thead > tr > th,
.product-page-container .product-details #product-review #customer-reviews .review-summary-table > tbody > tr > th,
.product-page-container .product-details #product-review #customer-reviews .review-summary-table > thead > tr > td,
.product-page-container .product-details #product-review #customer-reviews .review-summary-table > tbody > tr > td {
  padding: 3px;
}
.product-page-container .product-details #product-review #customer-reviews .review-summary-table .rating-label {
  width: 15%;
}
.product-page-container .product-details #product-review #customer-reviews .review-summary-table .rating-box {
  margin-top: 3px;
}
.product-page-container .product-details #product-review #review-form-container {
  padding-top: 10px;
}
.product-page-container .product-details #product-review #review-form-container #review-form .product-name {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}
.product-page-container .product-details #product-review #product-review-table th .rating-box {
  color: transparent;
}
.product-page-container .product-details #product-review #product-review-table tbody tr td.rate-label {
  font-weight: bold;
}
.product-page-container .product-details #product-review #product-review-table tbody tr td.value input {
  margin: auto;
}
.product-page-container .product-details #product-features .box-additional h3 {
  height: 34px;
  padding-top: 3px;
  margin-bottom: 0;
  background-color: #aaa;
  color: white;
  font-size: 16px;
  line-height: 2;
  text-align: center;
}
.product-additional-actions a {
  color: #777;
}
#product-common-info #info {
  position: relative;
  padding-left: 265px;
}
#product-common-info #info .price-box {
  font-size: 17px;
}
#product-common-info #info .price-box p {
  margin: 0;
}
#product-common-info #info .price-box .price-desc {
  display: block;
  font-size: 11px;
}
#product-common-info #info .price-box .old-price {
  font-size: 15px;
}
#product-common-info #info .price-box .special-price {
  font-size: 17px;
}
#product-common-info #info .availability {
  margin: 10px 0;
  font-family: "jk-Koodak", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
#product-common-info #buy-box {
  width: 245px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
#product-common-info #buy-box .product-options label {
  font-weight: bold;
}
#product-common-info #buy-box .product-options ul.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
#product-common-info #buy-box .product-options ul.options-list li:before,
#product-common-info #buy-box .product-options ul.options-list li:after {
  content: " ";
  display: table;
}
#product-common-info #buy-box .product-options ul.options-list li:after {
  clear: both;
}
#product-common-info #buy-box .product-options ul.options-list li .checkbox {
  float: right;
  display: block;
  margin: 0;
}
#product-common-info #buy-box .product-options ul.options-list li .label {
  color: black;
  font-size: 11px;
  float: right;
  display: block;
  margin: 0;
  padding: 0;
}
#product-common-info #buy-box .product-options ul.options-list li .label label {
  font-weight: normal;
}
#product-common-info #buy-box #select-quantity {
  margin-bottom: 10px;
}
#product-common-info #buy-box #select-quantity label {
  font-weight: bold;
  margin-left: 5px;
}
.tour-btn-container {
  margin-top: 15px;
}
table.product-attribute-specs {
  margin-bottom: 20px;
}
table.product-attribute-specs tbody tr th {
  vertical-align: middle;
}
table.product-attribute-specs tbody tr td.data ul {
  margin-bottom: 0;
}
