@import "../../../less/variables";
@import "variables";
@import "../../../less/mixins";
@import "../fonts/font-koodak/less/font-koodak";

@_border_color:     @panel-default-border;

.page-title {
  display: none;
}
.products-page-container{
  .content-wrapper {
    padding-left: 2px;
  }
}

.products-search-toolbar {

  margin-bottom: @grid-gutter-width;

  .pagination {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }
  .view-toggle {
    margin-top: 1px;
    margin-right: @grid-gutter-width;
  }

  ul.dropdown-menu {
    min-width: 100px;

    > li {
      > a {
        font-size: 11px;
      }
    }
  }

  .sort-by-title {
    padding-top: 5px;
    margin-left: @grid-gutter-width / 4;
    font-size: 11px;
    font-weight: bold;
  }
  .sort-dir {
    margin-right: @grid-gutter-width / 4;
  }

  .dropdown.items-per-page {
    margin-right: @grid-gutter-width;
  }

  .products-count-container {
    margin-bottom: @grid-gutter-width / 2;
  }
}

.products-list {

  .item-list {
    position: relative;
    background: #fff;
    padding: 0;
    margin: 0;

    > .item {
      list-style: none;
      background: #fff;
      overflow: hidden;
      position: relative;

      > .item-content {

        .item-title {
          font-size: 14px;
          > a {
            color: @text-color;
            &:hover {
              color: @link-hover-color;
              text-decoration: none;
            }
          }
        }

        .rating {
          background: url(../images/star-ratings@2x.png) no-repeat top left;
          background-size: 61px 148px;
          height: 12px;
          width: 61px;
          margin: 0;
          padding: 0;
          background-position: 0 -79px;
        }

        .buy-options {
          .btn {
            padding: 4px 5px 4px 9px;
            line-height: 1;
            i {
              font-size: 22px;
            }
            .text {
              font-family: @font-family-koodak;
              font-size: 14px;
              margin-right: 4px;
              padding-top: 6px;
            }
          }
        }
        .item-price {
          font-family: @font-family-koodak;
          font-size: 16px;
          color: @red;
          max-width: 145px;

          .old-price {
            font-size: 14px;
            text-decoration: line-through;
            margin-bottom: -7px;
            color: #999;
          }

          .price-desc{
            font-family: @font-family-sans-serif;
            font-size: 10px;
            color: #888;
            margin-bottom: 2px;
          }

        }
        .compare {
          font-size: 11px;
          padding: 2px 8px;
          background-color: @btn-info-bg;
          border: 1px solid @btn-info-border;
          color: white;
          border-radius: @border-radius-base;
          cursor: default;
          &:hover {
            background-color: darken(@btn-info-bg, 8%);
            border-color: darken(@btn-info-border, 12%);
          }
          &.in-compare {
            visibility: visible !important;
          }
        }
        .offer-img {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
          .square(90px);
          background-size: 90px 90px;
          background-repeat: no-repeat;
        }
        .offer-badge {
          .img-retina('../images/offer-badge.png', '../images/offer-badge-retina.png', 90px, 90px);
        }
      }

      .btn-quickview {
        visibility: hidden;
      }

      &:hover {
        .btn-quickview {
          visibility: visible;
        }
      }
    }

  }

  .GridView {

    margin-top: 1px;
    border-right: 1px solid @_border_color;

    > .item {
      border: 1px solid @_border_color;
      border-right: 0;
      float: right;
      margin-top: -1px;
      position: relative;

      .size(242px, 345px);

      @media (min-width: @screen-lg) {
        .size(325px, 345px);
      }

      &:hover:after,
      &:focus:after {
        -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 0 12px rgba(0,0,0,.1);
        box-shadow: inset 0 0 12px rgba(0,0,0,.1);
        content: "";
        height: 100%;
        right: 0;
        position: absolute;
        top: 0;
        -webkit-transition: box-shadow .5s ease-out;
        -moz-transition: box-shadow .5s ease-out;
        transition: box-shadow .5s ease-out;
        width: 100%;
      }

      > .item-content {

        height: 100%;

        padding: @grid-gutter-width;
        position: relative;
        z-index: 1;

        .image {
          border-bottom: 1px solid @_border_color;
          text-align: center;
          padding-bottom: 5px;
          height: 175px;
          > img {
            max-width: 100%;
            max-height: 165px;
          }
        }

        .item-title {
          margin: 15px 0 10px 0;
          > a {
            display: block;
            width: inherit;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .rating {
          margin-top: -3px;
        }

        .buy-options {
          position: absolute;
          right: @grid-gutter-width;
          bottom: @grid-gutter-width - 5;
          .btn {
            .text {
              display: none;
              @media (min-width: @screen-lg) {
                display: block;
              }
            }
          }
        }

        .item-price {
          position: absolute;
          left: @grid-gutter-width;
          bottom: 11px;
          text-align: left;
        }

        .item-descs {
          display: none;
        }

        .btn-quickview {
          position: absolute;
          right: 50%;
          margin-right: -52px;
          top: 82px;
        }

        .compare {
          //visibility: hidden;
          position: absolute;
          right: 20px;
          bottom: 55px;
          font-size: 10px;
          .text {
            display: none;
            @media (min-width: @screen-lg) {
              display: inline;
            }
          }
        }

      }
      &:hover {
        .compare {
          visibility: visible;
        }
      }
    }

  }
  .ListView {

    > .item {

      border: 1px solid @_border_color;
      margin-bottom: @grid-gutter-width;
      .box-shadow(0 1px 1px rgba(0, 0, 0, 0.05));

      > .item-content {
        padding: @grid-gutter-width 0;
        position: relative;
        min-height: 170px;
        height: 100%;

        .btn-quickview {
          position: absolute;
          right: 48px;
          top: 70px;
        }

        .item-title {
          font-size: 16px;
          margin-top: 0;
          margin-bottom: 5px;
          margin-right: 200px;
          padding-left: 180px;
        }
        .image {
          float: right;
          width: 200px;
          text-align: center;

          > img {
            max-width: 160px;
            max-height: 160px;
          }

        }
        .rating {
          margin-right: 200px;
        }
        .item-descs {
          margin-right: 200px;
          padding-left: 180px;
          text-align: justify;
          margin-top: 10px;

        }

        .item-price {
          position: absolute;
          bottom: @grid-gutter-width * 3;
          left: @grid-gutter-width;
          min-width: 135px;
          text-align: left;
        }
        .buy-options {
          position: absolute;
          left: @grid-gutter-width;
          bottom: @grid-gutter-width;
        }

        .compare {
          position: absolute;
          left: @grid-gutter-width;
          top: @grid-gutter-width;
          //visibility: hidden;
        }
      }

      &.last {
        margin-bottom: 0;
      }

      &:hover {
        border-color: darken(@_border_color, 5%);
        .box-shadow(0 1px 1px darken(#f4f4f4, 5%));
        .compare {
          visibility: visible;
        }
      }
    }
  }
}

.bottom-pagination-container{
  text-align: center;
  .pagination {
    margin-bottom: 0;
    font-weight: bold;
  }
}

