@import "variables";
@import "../../../less/mixins";

@_border_color:     #e4e4e4;

.page-title {
  display: none;
}

.products-search-toolbar {
  margin-bottom: @grid-gutter-width / 2;
  padding-left: 3px;

  .pagination {
    margin-top: @grid-gutter-width / 2;
    margin-bottom: 0;
  }
}

.products-list {

  .item-list {
    position: relative;
    background: #fff;
    padding: 0;
    margin: 0;

    > .item {
      background: #fff;
      overflow: hidden;
      position: relative;
    }

  }

  .GridView {

    margin-top: 1px;
    border-right: 1px solid @_border_color;

    > .item {

      border: 1px solid @_border_color;
      border-right: 0;
      float: right;
      margin-top: -1px;

      .size(243px, 320px);

      @media (min-width: @screen-lg) {
        width: 244px;
      }

      &:hover:after,
      &:focus:after {
        -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 0 12px rgba(0,0,0,.1);
        box-shadow: inset 0 0 12px rgba(0,0,0,.1);
        content: "";
        height: 100%;
        right: 0;
        position: absolute;
        top: 0;
        -webkit-transition: box-shadow .5s ease-out;
        -moz-transition: box-shadow .5s ease-out;
        transition: box-shadow .5s ease-out;
        width: 100%;
      }
    }

  }

  .ListView {
    > .item {
      border-top: 1px solid @_border_color;
      min-height: 100px;
    }
  }

}
