h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-family-koodak;
  font-weight: normal;
}

.container {
  .container();
}

.page-wrapper {

  .container();

  aside {
    &.sidebar {
      width: @sidebar-width;
      float: right;

      &.right-sidebar {
        margin-left: @grid-gutter-width;
      }
      &.left-sidebar {
        margin-right: @grid-gutter-width;
      }
    }
  }

  &.with-sidebar {
    .content-wrapper {
      float: right;
    }
  }

  &.with-one-sidebar {
    .content-wrapper {
      width: @content-wrapper-with-one-sidebar-width;

      @media (min-width: @screen-lg-desktop) {
        width: @content-wrapper-with-one-sidebar-width-lg;
      }
    }
  }

  &.with-two-sidebar {
    .content-wrapper {
      width: @content-wrapper-with-two-sidebar-width;

      @media (min-width: @screen-lg-desktop) {
        width: @content-wrapper-with-two-sidebar-width-lg;
      }
    }
  }
}


.page-wrapper  article {
  margin-bottom: @grid-gutter-width;
}

ul.links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    padding: 5px 0;

    a {
      display: block;
    }
  }
}

hr {
  margin-top: @grid-gutter-width;
  margin-bottom: @grid-gutter-width;
}