@import "../bootstrap/mixins";
.footer-container {
  margin-top: 60px;
  min-width: 980px;
  border-top: 1px solid #ddd;
  margin-left: 20px;
  margin-right: 20px;
  .footer-inner {
    width: 980px;
    margin: auto;
    .logo {
      width: 150px;
      height: 41px;
      margin: 30px auto 20px auto;
      background: url('../images/jetkharid-logo.svg') 0 0 no-repeat;
      background-size: 150px;
    }
    .footer {
      .clearfix();
      width: 980px;
      margin: auto;

      .col {
        width: 245px;
        padding: 0 20px 10px 20px;
        float: right;

        section {
          margin-bottom: 30px;
          .title {
            margin: 20px 0 10px 0;
          }
          hr {
            margin: 10px 0;
          }
        }
      }

      .socials {
        .clearfix();
        .social-item {
          float: right;
          padding: 0 5px;
        }
      }

    }
  }

}
.footer-copyright {
  margin: auto;
  text-align: center;
  margin-right: -20px;
  margin-left: -20px;
  background-color: #555;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
}