@import "../bootstrap/variables";
@import "variables";
@import "../bootstrap/modals";
@import "../bootstrap/mixins";

.hp-container{
  position: relative;


  .content-wrapper {
    @media (min-width: @screen-lg) {

    }
  }
  .carousels-wrapper {
    margin-right: 250px;
    overflow: hidden;
  }

  .home-page-nav {
    position: relative;
    z-index: 2;
  }

  .hp-slider {
    width: 660px;
    margin-right: auto;
    margin-left: auto;
    height: 230px;
  }
  .hp-left-side {
    width: 300px;
    margin-right: 20px;
    float: left;
    display: none;
    @media (min-width: @screen-lg) {
      display: block;
    }
    .jk-ads-block {
      margin-bottom: 20px;
    }
  }
  .hp-adv-boxes {

    .adv-box {
      margin-right: @grid-gutter-width;
      width: @sidebar-width;
      height: 180px;
    }
    .adv-box.first {
      margin-right: 0;
    }

  }
  #hp-contents {
    width: 720px;
  }

  #hp-ads-lg {
    width: 200px;
    margin-right: @grid-gutter-width;
  }
}

.shortcut-blocks {
  width: 660px;
  margin: auto;
  .clearfix();
  .shortcut-block {
    margin-left: 15px;
    float: right;
    width: 210px;
    height: 165px;
    .inner {
      height: 100%;
      border: 1px solid #dddddd;
      background: url(../images/loading-large.gif) no-repeat 50%;
      background-size: 25px;
    }
    &.last {
      margin-left: 0;
    }
  }
}
