//@import "../../fonts/font-koodak/less/font-koodak";
.price-box {
  font-family: @font-family-koodak;
  font-size: 14px;
  color: @red;

  .price-label {
    color: #333;
  }
  .old-price {
    font-size: 12px;
    text-decoration: line-through;
    margin-bottom: -5px;
    color: #888;
    .price-label {
      color: #888;
    }
  }
  .special-price {
    font-size: 14px;
    margin-bottom: 0;
  }
  .price-desc {
    display: none;
    font-size: 11px;
    font-family: @font-family-sans-serif;
    color: #888;
  }

}