@import "../bootstrap/variables";
@import "variables";
@import "../bootstrap/mixins";
@import "../../fonts/font-koodak/less/font-koodak";
@import "../bootstrap/modals";

@_border_color:     @panel-default-border;

.page-title {
  display: none;
}

.products-search-toolbar {
  .clearfix {
    &:after {
      clear: left;
    }
  }
  margin-bottom: @grid-gutter-width;
  .pages {
    float: right;
  }
  .pagination {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }
  .view-toggle {
    margin-top: 1px;
    margin-right: @grid-gutter-width;
  }

  .dropdown {
    display: block !important;
  }
  ul.dropdown-menu {
    min-width: 100px;

    > li {
      > a {
        font-size: 11px;
      }
    }
  }

  .sort-by-title {
    padding-top: 5px;
    margin-left: @grid-gutter-width / 4;
    font-size: 11px;
    font-weight: bold;
  }
  .sort-dir {
    margin-right: @grid-gutter-width / 4;
  }

  .dropdown.items-per-page {
    margin-right: @grid-gutter-width;
  }

  .products-count-container {
    text-align: left;
    margin-bottom: @grid-gutter-width / 2;
  }
}

.products-list {

  .item-list {
    position: relative;
    background: #fff;
    padding: 0;
    margin: 0;

    > .item {
      list-style: none;
      background: #fff;
      overflow: hidden;
      position: relative;

      > .item-content {

        .item-title {
          font-size: 13px;
          font-family: @font-family-sans-serif;
          > a {
            color: @text-color;
            &:hover {
              color: @link-hover-color;
              text-decoration: none;
            }
          }
        }

        .ratings {
          /*background: url(../images/star-ratings@2x.png) no-repeat 0 0;
          background-size: 68px 117px;*/
          //height: 11px;
          //width: 68px;
          margin: 0;
          padding: 0;
          /*background-position: 0 -79px;*/
        }


        .price-box {
          font-family: @font-family-koodak;
          font-size: 16px;
          max-width: 145px;
          p {
            margin: 0;
          }
          .price-label {
            display: none;
          }

          .old-price {
            font-size: 13px;
            margin-bottom: -7px;
          }
          .special-price {
            font-size: 16px;
          }
          .price-desc {
            display: block;
            margin: 0;
            margin-top: -5px;
            font-size: 10px;
          }

        }
        .availability {
          font-family: @font-family-koodak;
          font-size: 15px;
        }
        .btn-compare {
          font-size: 10px;
          padding: 0;
          cursor: pointer;
          background: white;
          //background-color: @btn-info-bg;
          //border: 1px solid @btn-info-border;
          //color: white;
          //border-radius: @border-radius-base;
          &:hover {
            //background-color: darken(@btn-info-bg, 8%);
            //border-color: darken(@btn-info-border, 12%);
          }
          &.in-compare {
            visibility: visible !important;
          }
          input {
            width: 20px;
            cursor: pointer;
          }
          label {
            font-weight: normal;
            margin: 0;
            padding: 2px 0px 2px 8px;
            margin-right: -2px;
            cursor: pointer;
          }
        }
        .offer-img {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
          .square(72px);
          background-size: 72px 72px;
          background-repeat: no-repeat;
        }
        .offer-badge {
          .img-retina('../images/offer-badge.png', '../images/offer-badge-retina.png', 72px, 72px);
        }
      }

      .btn-quickview {
        //visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;

        background: white;
        color: @link-color;
        font-weight: bold;

        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
        -webkit-transition-delay: 0.15s;
        -moz-transition-delay: 0.15s;
        -ms-transition-delay: 0.15s;
        -o-transition-delay: 0.15s;
        transition-delay: 0.15s;
        &:hover,
        &:focus {
          color: @link-hover-sc-color;
        }
      }
      .btn-more-info {
        padding-top: 6px;
      }
      .btn-wishlist {
        padding-top: 4px;
        padding-bottom: 3px;
        .text {
          font-size: 10px;
        }
      }

      &:hover {
        .btn-quickview {
          //visibility: visible;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          filter: alpha(opacity=100);
          -moz-opacity: 1;
          -khtml-opacity: 1;
          opacity: 1;
        }
      }
    }

  }

  .GridView {

    margin-top: 1px;
    border-right: 1px solid @_border_color;
    > .item {
      border: 1px solid @_border_color;
      border-right: 0;
      float: right;
      margin-top: -1px;
      position: relative;

      .size(33.33%, 320px);

      @media (min-width: @screen-lg) {
        width: 25%;
      }
      @media (min-width: @screen-xlg) {
        width: 20%;
      }

      &:hover:after,
      &:focus:after {
        -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 0 12px rgba(0,0,0,.1);
        box-shadow: inset 0 0 12px rgba(0,0,0,.1);
        content: "";
        height: 100%;
        right: 0;
        position: absolute;
        top: 0;

        -webkit-transition: box-shadow .5s ease-out;
        -moz-transition: box-shadow .5s ease-out;
        -ms-transition: box-shadow .5s ease-out;
        -o-transition: box-shadow .5s ease-out;
        transition: box-shadow .5s ease-out;

        width: 100%;
      }

      > .item-content {

        height: 100%;

        padding: @grid-gutter-width;
        position: relative;
        z-index: 1;

        .image {
          border-bottom: 1px solid @_border_color;
          text-align: center;
          height: 165px;
          > img {
            max-width: 100%;
            max-height: 140px;
          }
        }

        .item-title {
          margin: 10px 0 10px 0;
          > a {
            display: block;
            width: inherit;
            /*white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;*/
          }
        }
        .no-rating {
          display: none;
        }
        .ratings {
          position: absolute;
          bottom: 57px;
          right: 20px;
          .rating-links {
            display: none;
          }
        }

        .buy-options {
          position: absolute;
          right: @grid-gutter-width;
          bottom: @grid-gutter-width - 5;

          .btn {
            .text {
              display: none;
              @media (min-width: @screen-lg) {
                //display: block;
              }
            }
          }
        }
        .btn-wishlist {
          position: absolute;
          bottom: 15px;
          right: 65px;
          .text {
            display: none;
            /*width: 0;
            visibility: hidden;
            margin-right: 0;*/
          }
        }

        .price-box {
          position: absolute;
          left: @grid-gutter-width;
          bottom: 10px;
          text-align: left;
        }
        .availability {
          position: absolute;
          left: @grid-gutter-width;
          bottom: 10px;
          text-align: left;
        }

        .item-descs {
          display: none;
        }

        .btn-quickview {
          position: absolute;
          right: 50%;
          margin-right: -57px;
          top: 140px;
        }

        .btn-compare {
          //visibility: hidden;
          position: absolute;
          left: 10px;
          top: 10px;
          font-size: 10px;
          width: 36px;
          overflow: hidden;
          -webkit-transition: width 0.2s;
          -moz-transition: width 0.2s;
          -ms-transition: width 0.2s;
          -o-transition: width 0.2s;
          transition: width 0.2s;

          .text {
            //display: none;
            //color: transparent;
            margin-right: 3px;
            @media (min-width: @screen-lg) {
              //display: none;
            }
          }
        }

      }
      &:hover {
        .btn-compare {
          visibility: visible;
        }
      }
    }

  }
  .ListView {

    > .item {

      border: 1px solid @_border_color;
      margin-bottom: @grid-gutter-width;
      .box-shadow(0 1px 1px rgba(0, 0, 0, 0.05));

      > .item-content {
        padding: @grid-gutter-width 0;
        position: relative;
        min-height: 200px;
        height: 100%;

        .btn-quickview {
          position: absolute;
          right: 43px;
          top: 150px;
        }

        .item-title {
          font-size: 16px;
          margin-top: 0;
          //margin-bottom: 5px;
          margin-right: 200px;
          padding-left: 190px;
        }
        .image {
          float: right;
          width: 200px;
          text-align: center;

          > img {
            max-width: 160px;
            max-height: 160px;
          }

        }
        .ratings {
          margin-right: 200px;
          .clearfix();
          overflow: hidden;
          .rating-box {
            float: right;
          }
          .rating-links {
            font-size: 11px;
            float: right;
            margin-top: -3px;
            margin-right: 5px;
            margin-bottom: 0;
          }
        }
        .item-descs {
          margin-right: 200px;
          padding-left: 190px;
          text-align: justify;
          margin-top: 5px;
          color: #777;
        }

        .price-box {
          position: absolute;
          //bottom: @grid-gutter-width * 3 - 5;
          bottom: 58px;
          left: @grid-gutter-width;
          min-width: 135px;
          text-align: left;
        }
        .availability {
          position: absolute;
          left: @grid-gutter-width;
          //bottom: @grid-gutter-width * 3 - 5;
          bottom: 58px;
          text-align: left;
        }
        .buy-options {
          position: absolute;
          left: @grid-gutter-width;
          //bottom: @grid-gutter-width;
          bottom: 20px;
        }
        .btn-wishlist {
          position: absolute;
          left: 20px;
          bottom: 20px;
        }
        .btn-compare {
          position: absolute;
          left: @grid-gutter-width;
          top: @grid-gutter-width;
          //visibility: hidden;
        }
      }

      &.last {
        margin-bottom: 0;
      }

      &:hover {
        border-color: darken(@_border_color, 5%);
        .box-shadow(0 1px 1px darken(#f4f4f4, 5%));
        .btn-compare {
          visibility: visible;
        }
      }
    }
  }
}

.bottom-pagination-container{
  text-align: center;
  .pagination {
    margin-bottom: 0;
    font-weight: bold;
  }
}


.item .btn-compare i.icon-checkbox {
  margin: 1px 4px 0px 5px;
  font-size: 1.15em;
  vertical-align: middle;
  width: 9px;
  text-align: left;
}

.block-layered-nav {
  .block-title {
    padding-bottom: 1px !important;
    font-size: 16px;
    font-family: @font-family-koodak;
  }
  .block-subtitle {
    display: none;
  }
  .currently {
    background-color: #fbfbfb;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    .block-subtitle {
      font-weight: bold;
      font-size: 11px;
      padding: 5px 10px;
      margin: 0;
      display: block;
    }
    ol {
      margin: 0;
      margin-top: 5px;
      padding: 0 10px;
      li {
        list-style: none;
        margin-bottom: 5px;
        .label {
          color: @red;
          font-size: 11px;
          padding-right: 0;
        }
        .btn-remove {
          float: left;
          padding-top: 1px;
          color: #888;
          font-size: 14px;
        }
      }
    }
  }
  .block-content {
    padding: 0;
    dl {
      padding: 10px;
      margin: 0;
      dt {
        border-bottom: 1px solid #ddd;
        color: #333;
        padding-bottom: 3px;
        margin-bottom: 5px;
        cursor: pointer;
      }
      dd {
        margin-bottom: 10px;
        ol {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            a {
              .clearfix();
              display: block;
              padding: 0 1px 0 3px;
              .icon {
                margin-left: 5px;
                font-size: 13px;
                color: #666;
                width: 13px;
                display: block;
                float: right;
                text-align: left;
              }
              .title {
                display: block;
                float: right;
              }
              .count {
                color: #888;
                display: block;
                float: left;
                margin-right: 5px;
              }
              i.fa-check-square {
                display: none;
              }
              &:hover {
                background-color: #fbfbfb;
                .title {
                  //color: @link-hover-sc-color;
                }
                i.fa-square-o {
                  display: none;
                }
                i.fa-check-square {
                  display: inline-block;
                }
              }
            }
          }
        }
        &.last {
          margin-bottom: 0;
        }
      }
    }
    .actions {
      color: #888;
      margin: 0;
      background-color: #fbfbfb;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top: 1px solid #eee;
      padding: 5px 10px;
      a {
        color: #888;
      }
    }
  }

}

.recommendations {
  margin-bottom: 20px;
}