@font-face
{
  font-family:'jk-Koodak';
  src: url('@{koodak-font-path}/BKoodakBold.eot'); /* here you go, IE */
}

@font-face
{
  font-family:'jk-Koodak';
  src: url('@{koodak-font-path}/BKoodakBold.ttf') format('truetype'); /* everyone else take this */
}
@font-family-koodak  : "jk-Koodak", "Helvetica Neue",Helvetica,Arial,sans-serif;